<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Moldova</string>
		<key>kCurrencyCountryCode</key>
		<string>MD</string>
		<key>kCurrencyCode</key>
		<string>MDL</string>
		<key>kCurrencySymbol</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Afghanistan</string>
		<key>kCurrencyCountryCode</key>
		<string>AF</string>
		<key>kCurrencyCode</key>
		<string>AFN</string>
		<key>kCurrencySymbol</key>
		<string>؋</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Albania</string>
		<key>kCurrencyCountryCode</key>
		<string>AL</string>
		<key>kCurrencyCode</key>
		<string>ALL</string>
		<key>kCurrencySymbol</key>
		<string>Lek</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Algeria</string>
		<key>kCurrencyCountryCode</key>
		<string>DZ</string>
		<key>kCurrencyCode</key>
		<string>DZD</string>
		<key>kCurrencySymbol</key>
		<string>دج</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Antarctica</string>
		<key>kCurrencyCountryCode</key>
		<string>AQ</string>
		<key>kCurrencyCode</key>
		<string>XCD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Argentina</string>
		<key>kCurrencyCountryCode</key>
		<string>AR</string>
		<key>kCurrencyCode</key>
		<string>ARS</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Aruba</string>
		<key>kCurrencyCountryCode</key>
		<string>AW</string>
		<key>kCurrencyCode</key>
		<string>AWG</string>
		<key>kCurrencySymbol</key>
		<string>ƒ</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Australia</string>
		<key>kCurrencyCountryCode</key>
		<string>AU</string>
		<key>kCurrencyCode</key>
		<string>AUD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Azerbaijan</string>
		<key>kCurrencyCountryCode</key>
		<string>AZ</string>
		<key>kCurrencyCode</key>
		<string>AZN</string>
		<key>kCurrencySymbol</key>
		<string>ман</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Bahamas</string>
		<key>kCurrencyCountryCode</key>
		<string>BS</string>
		<key>kCurrencyCode</key>
		<string>BSD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Bahrain</string>
		<key>kCurrencyCountryCode</key>
		<string>BH</string>
		<key>kCurrencyCode</key>
		<string>BHD</string>
		<key>kCurrencySymbol</key>
		<string>.د.ب</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Bangladesh</string>
		<key>kCurrencyCountryCode</key>
		<string>BD</string>
		<key>kCurrencyCode</key>
		<string>BDT</string>
		<key>kCurrencySymbol</key>
		<string>৳</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Barbados</string>
		<key>kCurrencyCountryCode</key>
		<string>BB</string>
		<key>kCurrencyCode</key>
		<string>BBD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Belarus</string>
		<key>kCurrencyCountryCode</key>
		<string>BY</string>
		<key>kCurrencyCode</key>
		<string>BYR</string>
		<key>kCurrencySymbol</key>
		<string>p.</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Belgium</string>
		<key>kCurrencyCountryCode</key>
		<string>BE</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Belize</string>
		<key>kCurrencyCountryCode</key>
		<string>BZ</string>
		<key>kCurrencyCode</key>
		<string>BZD</string>
		<key>kCurrencySymbol</key>
		<string>BZ$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Bermuda</string>
		<key>kCurrencyCountryCode</key>
		<string>BM</string>
		<key>kCurrencyCode</key>
		<string>BMD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Brazil</string>
		<key>kCurrencyCountryCode</key>
		<string>BR</string>
		<key>kCurrencyCode</key>
		<string>BRL</string>
		<key>kCurrencySymbol</key>
		<string>R$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Brunei</string>
		<key>kCurrencyCountryCode</key>
		<string>BN</string>
		<key>kCurrencyCode</key>
		<string>BND</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Cambodia</string>
		<key>kCurrencyCountryCode</key>
		<string>KH</string>
		<key>kCurrencyCode</key>
		<string>KHR</string>
		<key>kCurrencySymbol</key>
		<string>៛</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Canada</string>
		<key>kCurrencyCountryCode</key>
		<string>CA</string>
		<key>kCurrencyCode</key>
		<string>CAD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Chile</string>
		<key>kCurrencyCountryCode</key>
		<string>CL</string>
		<key>kCurrencyCode</key>
		<string>CLP</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>China</string>
		<key>kCurrencyCountryCode</key>
		<string>CN</string>
		<key>kCurrencyCode</key>
		<string>CNY</string>
		<key>kCurrencySymbol</key>
		<string>¥</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Colombia</string>
		<key>kCurrencyCountryCode</key>
		<string>CO</string>
		<key>kCurrencyCode</key>
		<string>COP</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Cuba</string>
		<key>kCurrencyCountryCode</key>
		<string>CU</string>
		<key>kCurrencyCode</key>
		<string>CUP</string>
		<key>kCurrencySymbol</key>
		<string>₱</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Czech Republic</string>
		<key>kCurrencyCountryCode</key>
		<string>CZ</string>
		<key>kCurrencyCode</key>
		<string>CZK</string>
		<key>kCurrencySymbol</key>
		<string>Kč</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Denmark</string>
		<key>kCurrencyCountryCode</key>
		<string>DK</string>
		<key>kCurrencyCode</key>
		<string>DKK</string>
		<key>kCurrencySymbol</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Egypt</string>
		<key>kCurrencyCountryCode</key>
		<string>EG</string>
		<key>kCurrencyCode</key>
		<string>EGP</string>
		<key>kCurrencySymbol</key>
		<string>£</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Euro Member</string>
		<key>kCurrencyCountryCode</key>
		<string>EU</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Falkland Islands</string>
		<key>kCurrencyCountryCode</key>
		<string>FK</string>
		<key>kCurrencyCode</key>
		<string>FKP</string>
		<key>kCurrencySymbol</key>
		<string>£</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Fiji</string>
		<key>kCurrencyCountryCode</key>
		<string>FJ</string>
		<key>kCurrencyCode</key>
		<string>FJD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>France</string>
		<key>kCurrencyCountryCode</key>
		<string>FR</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Germany</string>
		<key>kCurrencyCountryCode</key>
		<string>DE</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Ghana</string>
		<key>kCurrencyCountryCode</key>
		<string>GH</string>
		<key>kCurrencyCode</key>
		<string>GHS</string>
		<key>kCurrencySymbol</key>
		<string>¢</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Gibraltar</string>
		<key>kCurrencyCountryCode</key>
		<string>GI</string>
		<key>kCurrencyCode</key>
		<string>GIP</string>
		<key>kCurrencySymbol</key>
		<string>£</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Greenland</string>
		<key>kCurrencyCountryCode</key>
		<string>GL</string>
		<key>kCurrencyCode</key>
		<string>DKK</string>
		<key>kCurrencySymbol</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Hungary</string>
		<key>kCurrencyCountryCode</key>
		<string>HU</string>
		<key>kCurrencyCode</key>
		<string>HUF</string>
		<key>kCurrencySymbol</key>
		<string>Ft</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Iceland</string>
		<key>kCurrencyCountryCode</key>
		<string>IS</string>
		<key>kCurrencyCode</key>
		<string>ISK</string>
		<key>kCurrencySymbol</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>India</string>
		<key>kCurrencyCountryCode</key>
		<string>IN</string>
		<key>kCurrencyCode</key>
		<string>INR</string>
		<key>kCurrencySymbol</key>
		<string>₹</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Indonesia</string>
		<key>kCurrencyCountryCode</key>
		<string>ID</string>
		<key>kCurrencyCode</key>
		<string>IDR</string>
		<key>kCurrencySymbol</key>
		<string>Rp</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Iran</string>
		<key>kCurrencyCountryCode</key>
		<string>IR</string>
		<key>kCurrencyCode</key>
		<string>IRR</string>
		<key>kCurrencySymbol</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Iraq</string>
		<key>kCurrencyCountryCode</key>
		<string>IQ</string>
		<key>kCurrencyCode</key>
		<string>IQD</string>
		<key>kCurrencySymbol</key>
		<string>ع.د</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Ireland</string>
		<key>kCurrencyCountryCode</key>
		<string>IE</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Israel</string>
		<key>kCurrencyCountryCode</key>
		<string>IL</string>
		<key>kCurrencyCode</key>
		<string>ILS</string>
		<key>kCurrencySymbol</key>
		<string>₪</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Italian Lira</string>
		<key>kCurrencyCountryCode</key>
		<string>IT</string>
		<key>kCurrencyCode</key>
		<string>ITL</string>
		<key>kCurrencySymbol</key>
		<string>₤</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Jamaica</string>
		<key>kCurrencyCountryCode</key>
		<string>JM</string>
		<key>kCurrencyCode</key>
		<string>JMD</string>
		<key>kCurrencySymbol</key>
		<string>J$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Japan</string>
		<key>kCurrencyCountryCode</key>
		<string>JP</string>
		<key>kCurrencyCode</key>
		<string>JPY</string>
		<key>kCurrencySymbol</key>
		<string>¥</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Jordan</string>
		<key>kCurrencyCountryCode</key>
		<string>JO</string>
		<key>kCurrencyCode</key>
		<string>JOD</string>
		<key>kCurrencySymbol</key>
		<string>JOD</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Kazakhstan</string>
		<key>kCurrencyCountryCode</key>
		<string>KZ</string>
		<key>kCurrencyCode</key>
		<string>KZT</string>
		<key>kCurrencySymbol</key>
		<string>лв</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Kenya</string>
		<key>kCurrencyCountryCode</key>
		<string>KE</string>
		<key>kCurrencyCode</key>
		<string>KES</string>
		<key>kCurrencySymbol</key>
		<string>KES</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Korea (North)</string>
		<key>kCurrencyCountryCode</key>
		<string>KP</string>
		<key>kCurrencyCode</key>
		<string>KPW</string>
		<key>kCurrencySymbol</key>
		<string>₩</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Korea (South)</string>
		<key>kCurrencyCountryCode</key>
		<string>KR</string>
		<key>kCurrencyCode</key>
		<string>KRW</string>
		<key>kCurrencySymbol</key>
		<string>₩</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Kuwait</string>
		<key>kCurrencyCountryCode</key>
		<string>KW</string>
		<key>kCurrencyCode</key>
		<string>KWD</string>
		<key>kCurrencySymbol</key>
		<string>د.ك</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Kyrgyzstan</string>
		<key>kCurrencyCountryCode</key>
		<string>KG</string>
		<key>kCurrencyCode</key>
		<string>KGS</string>
		<key>kCurrencySymbol</key>
		<string>лв</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Laos</string>
		<key>kCurrencyCountryCode</key>
		<string>LA</string>
		<key>kCurrencyCode</key>
		<string>LAK</string>
		<key>kCurrencySymbol</key>
		<string>₭</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Lebanon</string>
		<key>kCurrencyCountryCode</key>
		<string>LB</string>
		<key>kCurrencyCode</key>
		<string>LBP</string>
		<key>kCurrencySymbol</key>
		<string>£</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Liberia</string>
		<key>kCurrencyCountryCode</key>
		<string>LR</string>
		<key>kCurrencyCode</key>
		<string>LRD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Libya</string>
		<key>kCurrencyCountryCode</key>
		<string>LY</string>
		<key>kCurrencyCode</key>
		<string>LYD</string>
		<key>kCurrencySymbol</key>
		<string>ل.د</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Macedonia</string>
		<key>kCurrencyCountryCode</key>
		<string>MK</string>
		<key>kCurrencyCode</key>
		<string>MKD</string>
		<key>kCurrencySymbol</key>
		<string>ден</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Malaysia</string>
		<key>kCurrencyCountryCode</key>
		<string>MY</string>
		<key>kCurrencyCode</key>
		<string>MYR</string>
		<key>kCurrencySymbol</key>
		<string>RM</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Mauritius</string>
		<key>kCurrencyCountryCode</key>
		<string>MU</string>
		<key>kCurrencyCode</key>
		<string>MUR</string>
		<key>kCurrencySymbol</key>
		<string>Rs</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Mexico</string>
		<key>kCurrencyCountryCode</key>
		<string>MX</string>
		<key>kCurrencyCode</key>
		<string>MXN</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Mongolia</string>
		<key>kCurrencyCountryCode</key>
		<string>MN</string>
		<key>kCurrencyCode</key>
		<string>MNT</string>
		<key>kCurrencySymbol</key>
		<string>₮</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Myanmar</string>
		<key>kCurrencyCountryCode</key>
		<string>MM</string>
		<key>kCurrencyCode</key>
		<string>MMK</string>
		<key>kCurrencySymbol</key>
		<string>K</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Namibia</string>
		<key>kCurrencyCountryCode</key>
		<string>NA</string>
		<key>kCurrencyCode</key>
		<string>NAD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Nepal</string>
		<key>kCurrencyCountryCode</key>
		<string>NP</string>
		<key>kCurrencyCode</key>
		<string>NPR</string>
		<key>kCurrencySymbol</key>
		<string>Rs</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Netherlands</string>
		<key>kCurrencyCountryCode</key>
		<string>NL</string>
		<key>kCurrencyCode</key>
		<string>ANG</string>
		<key>kCurrencySymbol</key>
		<string>ƒ</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Niger</string>
		<key>kCurrencyCountryCode</key>
		<string>NE</string>
		<key>kCurrencyCode</key>
		<string>XOF</string>
		<key>kCurrencySymbol</key>
		<string>CFA</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Nigeria</string>
		<key>kCurrencyCountryCode</key>
		<string>NG</string>
		<key>kCurrencyCode</key>
		<string>NGN</string>
		<key>kCurrencySymbol</key>
		<string>₦</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Norway</string>
		<key>kCurrencyCountryCode</key>
		<string>NO</string>
		<key>kCurrencyCode</key>
		<string>NOK</string>
		<key>kCurrencySymbol</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Oman</string>
		<key>kCurrencyCountryCode</key>
		<string>OM</string>
		<key>kCurrencyCode</key>
		<string>OMR</string>
		<key>kCurrencySymbol</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Pakistan</string>
		<key>kCurrencyCountryCode</key>
		<string>PK</string>
		<key>kCurrencyCode</key>
		<string>PKR</string>
		<key>kCurrencySymbol</key>
		<string>Rs</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Peru</string>
		<key>kCurrencyCountryCode</key>
		<string>PE</string>
		<key>kCurrencyCode</key>
		<string>PEN</string>
		<key>kCurrencySymbol</key>
		<string>S/.</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Philippines</string>
		<key>kCurrencyCountryCode</key>
		<string>PH</string>
		<key>kCurrencyCode</key>
		<string>PHP</string>
		<key>kCurrencySymbol</key>
		<string>₱</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Poland</string>
		<key>kCurrencyCountryCode</key>
		<string>PL</string>
		<key>kCurrencyCode</key>
		<string>PLN</string>
		<key>kCurrencySymbol</key>
		<string>zł</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Qatar</string>
		<key>kCurrencyCountryCode</key>
		<string>QA</string>
		<key>kCurrencyCode</key>
		<string>QAR</string>
		<key>kCurrencySymbol</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Reunion</string>
		<key>kCurrencyCountryCode</key>
		<string>RE</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Romania</string>
		<key>kCurrencyCountryCode</key>
		<string>RO</string>
		<key>kCurrencyCode</key>
		<string>RON</string>
		<key>kCurrencySymbol</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Russia</string>
		<key>kCurrencyCountryCode</key>
		<string>RU</string>
		<key>kCurrencyCode</key>
		<string>RUB</string>
		<key>kCurrencySymbol</key>
		<string>руб</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>San Marino</string>
		<key>kCurrencyCountryCode</key>
		<string>SM</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Saudi Arabia</string>
		<key>kCurrencyCountryCode</key>
		<string>SA</string>
		<key>kCurrencyCode</key>
		<string>SAR</string>
		<key>kCurrencySymbol</key>
		<string>﷼</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Senegal</string>
		<key>kCurrencyCountryCode</key>
		<string>SN</string>
		<key>kCurrencyCode</key>
		<string>XOF</string>
		<key>kCurrencySymbol</key>
		<string>CFA</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Serbia</string>
		<key>kCurrencyCountryCode</key>
		<string>RS</string>
		<key>kCurrencyCode</key>
		<string>RSD</string>
		<key>kCurrencySymbol</key>
		<string>Дин.</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Seychelles</string>
		<key>kCurrencyCountryCode</key>
		<string>SC</string>
		<key>kCurrencyCode</key>
		<string>SCR</string>
		<key>kCurrencySymbol</key>
		<string>Rs</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Singapore</string>
		<key>kCurrencyCountryCode</key>
		<string>SG</string>
		<key>kCurrencyCode</key>
		<string>SGD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Somalia</string>
		<key>kCurrencyCountryCode</key>
		<string>SO</string>
		<key>kCurrencyCode</key>
		<string>SOS</string>
		<key>kCurrencySymbol</key>
		<string>S</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>South Africa</string>
		<key>kCurrencyCountryCode</key>
		<string>ZA</string>
		<key>kCurrencyCode</key>
		<string>ZAR</string>
		<key>kCurrencySymbol</key>
		<string>S</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Spain</string>
		<key>kCurrencyCountryCode</key>
		<string>ES</string>
		<key>kCurrencyCode</key>
		<string>EUR</string>
		<key>kCurrencySymbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Sri Lanka</string>
		<key>kCurrencyCountryCode</key>
		<string>LK</string>
		<key>kCurrencyCode</key>
		<string>LKR</string>
		<key>kCurrencySymbol</key>
		<string>Rs</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Sudan</string>
		<key>kCurrencyCountryCode</key>
		<string>SD</string>
		<key>kCurrencyCode</key>
		<string>SDG</string>
		<key>kCurrencySymbol</key>
		<string>ج.س.</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Suriname</string>
		<key>kCurrencyCountryCode</key>
		<string>SR</string>
		<key>kCurrencyCode</key>
		<string>SRD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Swaziland</string>
		<key>kCurrencyCountryCode</key>
		<string>SZ</string>
		<key>kCurrencyCode</key>
		<string>SZL</string>
		<key>kCurrencySymbol</key>
		<string>L</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Sweden</string>
		<key>kCurrencyCountryCode</key>
		<string>SE</string>
		<key>kCurrencyCode</key>
		<string>SEK</string>
		<key>kCurrencySymbol</key>
		<string>kr</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Switzerland</string>
		<key>kCurrencyCountryCode</key>
		<string>CH</string>
		<key>kCurrencyCode</key>
		<string>CHF</string>
		<key>kCurrencySymbol</key>
		<string>CHF</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Syria</string>
		<key>kCurrencyCountryCode</key>
		<string>SY</string>
		<key>kCurrencyCode</key>
		<string>SYP</string>
		<key>kCurrencySymbol</key>
		<string>£</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Taiwan</string>
		<key>kCurrencyCountryCode</key>
		<string>TW</string>
		<key>kCurrencyCode</key>
		<string>TWD</string>
		<key>kCurrencySymbol</key>
		<string>NT$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Tajikistan</string>
		<key>kCurrencyCountryCode</key>
		<string>TJ</string>
		<key>kCurrencyCode</key>
		<string>TJS</string>
		<key>kCurrencySymbol</key>
		<string>TJS</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Thailand</string>
		<key>kCurrencyCountryCode</key>
		<string>TH</string>
		<key>kCurrencyCode</key>
		<string>THB</string>
		<key>kCurrencySymbol</key>
		<string>฿</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Turkey</string>
		<key>kCurrencyCountryCode</key>
		<string>TR</string>
		<key>kCurrencyCode</key>
		<string>TRY</string>
		<key>kCurrencySymbol</key>
		<string>₤</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Turkmenistan</string>
		<key>kCurrencyCountryCode</key>
		<string>TM</string>
		<key>kCurrencyCode</key>
		<string>TMT</string>
		<key>kCurrencySymbol</key>
		<string>T</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Uganda</string>
		<key>kCurrencyCountryCode</key>
		<string>UG</string>
		<key>kCurrencyCode</key>
		<string>UGX</string>
		<key>kCurrencySymbol</key>
		<string>USh</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Ukraine</string>
		<key>kCurrencyCountryCode</key>
		<string>UA</string>
		<key>kCurrencyCode</key>
		<string>UAH</string>
		<key>kCurrencySymbol</key>
		<string>₴</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>United Arab Emirates</string>
		<key>kCurrencyCountryCode</key>
		<string>AE</string>
		<key>kCurrencyCode</key>
		<string>AED</string>
		<key>kCurrencySymbol</key>
		<string>د.إ</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>United Kingdom</string>
		<key>kCurrencyCountryCode</key>
		<string>GB</string>
		<key>kCurrencyCode</key>
		<string>GBP</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>United States</string>
		<key>kCurrencyCountryCode</key>
		<string>US</string>
		<key>kCurrencyCode</key>
		<string>USD</string>
		<key>kCurrencySymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Uzbekistan</string>
		<key>kCurrencyCountryCode</key>
		<string>UZ</string>
		<key>kCurrencyCode</key>
		<string>UZS</string>
		<key>kCurrencySymbol</key>
		<string>лв</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Viet Nam</string>
		<key>kCurrencyCountryCode</key>
		<string>VN</string>
		<key>kCurrencyCode</key>
		<string>VND</string>
		<key>kCurrencySymbol</key>
		<string>₫</string>
	</dict>
	<dict>
		<key>kCurrencyCountryName</key>
		<string>Yemen</string>
		<key>kCurrencyCountryCode</key>
		<string>YE</string>
		<key>kCurrencyCode</key>
		<string>YER</string>
		<key>kCurrencySymbol</key>
		<string>﷼</string>
	</dict>
</array>
</plist>
