<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Planned payments</string>
		<string>Exports</string>
		<string>Debts</string>
		<string>Shopping lists</string>
		<string>Warranties</string>
		<string>Locations</string>
		<string>Reminder</string>
	</array>
	<array>
		<string>Help</string>
		<string>Settings</string>
		<string>Logout</string>
	</array>
</array>
</plist>
