<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>ic_plannedPayments</string>
		<string>ic_exports</string>
		<string>ic_debts</string>
		<string>ic_shoppingLists</string>
		<string>ic_warranties</string>
		<string>ic_locations</string>
		<string>ic_alarm</string>
	</array>
	<array>
		<string>ic_help</string>
		<string>ic_settings</string>
		<string>ic_logout</string>
	</array>
</array>
</plist>
